<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="container-fluid container-xl position-relative d-flex align-items-center">

    <a href="index.html" class="logo d-flex align-items-center me-auto">
      <img src="assets/img/Logo wizard.png" alt="Wizards Wiffle Ball Club Logo">
      <h1 class="sitename">Wizards Wiffle Ball Club</h1>
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="#hero" class="active">Home</a></li>
        <li><a href="#rsvp">Sign Up to Play</a></li>
        <li><a href="#game-setup">Game Setup</a></li>
        <li><a href="#rules">Rules</a></li>
        <li><a href="#field-layout">Field Layout</a></li>
        <li><a href="#location">Location</a></li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

    <a class="btn-getstarted" href="#rsvp">Sign Up to Play</a>

  </div>
</header>
