<!-- Hero Section -->
<section id="hero" class="hero section">
  <div class="hero-bg">
    <img src="assets/img/hero-bg-light.webp" alt="">
  </div>
  <div class="container text-center">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <img src="assets/img/Logo.png" class="img-fluid hero-img" alt="Wizards Wiffle Ball Club Logo" data-aos="zoom-out" style="max-width: 350px; margin-bottom: 10px;">
      <p data-aos="fade-up" data-aos-delay="100">Let's play some ball!<br></p>
      <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
        <a href="#game-setup" class="btn-get-started">Learn More</a>
        <a href="#rsvp" class="btn-custom d-flex align-items-center ms-3"><i class="bi bi-pencil-square me-2"></i><span>Sign Up</span></a>
      </div>
    </div>
  </div>
</section><!-- /Hero Section -->
